<div class="">
  <h1>Your merchants</h1>

  <ul>
    <% merchant_num = 1 %>
    <% for merchant in @merchants %>
      <p>Merchant <%= merchant_num %>: <%= merchant.name %></p>
      <p class="btn--wrapper">
        <a class="btn btn--action" href="/merchants/show">Show merchant details</a>
      </p>
      <p>
        <form action="/merchants/<%= merchant.id %>/delete" method="POST">
          <input class="btn btn--danger" type="submit" value="Delete merchant" />
        </form>
      </p>
      <% merchant_num += 1 %>
    <%end%>
  </ul>

  <p class="btn--wrapper">
    <a class="btn btn--action" href="/merchants/new">New Merchant</a>
  </p>

</div>
