<h1 class="h1">New Merchant</h1>

<div class="new-form-div">
  <form action="/merchants" method="post">

    <label class="font-karla">
      Input charge:
        <input class="font-karla" type="text" placeholder="Merchant Name" name="name" required>
    </label>

    <br>

    <input class="font-karla" class="btn btn--action" type='submit' value="Add Merchant">
  </form>

</div>
