<div class="show-content">
  <%@merchants.each do |merchant|%>
    <h1 class="h1" ><%=merchant.name%></h1>
    <p class="font-karla" >total number of transactions here</p>
    <p class="font-karla" >total money spent here</p>
  <%end%>
</div>
