<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Money Tracker</title>
  </head>
  <body>
    <nav class="navbar">
      <table>
        <tr>
          <td><a href="/transactions">Transactions</a></td>
          <td><a href="/merchants">Merchants</a></td>
          <td><a href="/tags">Tags</a></td>
        </tr>
      </table>
    </nav>
    <section id="content">
      <%= yield %>
    </section>
  </body>
</html>
