<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Karla|Varela+Round" rel="stylesheet">
    <title>Stack Tracker</title>
  </head>
  <body>
    <header class="header">
      <h1 class="header-h1">Stack Tracker</h1>
      <h3 class="header-h3">track your stacks</h3>
    </header>
    <nav class="navbar">
      <table class="layout-table">
        <tr>
          <td><a class="navbar-buttons" href="/">Home</a></td>
          <td><a class="navbar-buttons" href="/transactions">Transactions</a></td>
          <td><a class="navbar-buttons" href="/merchants">Merchants</a></td>
          <td><a class="navbar-buttons" href="/tags">Tags</a></td>
        </tr>
      </table>
    </nav>
    <section id="content">
      <%= yield %>
    </section>
  </body>
  <footer>
    <p class="footer-p">For more information on Stack Tracker and its creator: </p>
    <div class="footer-links">
      <a class="footer-a" href="https://www.thelokengroup.com/site/wp-content/uploads/2016/06/more-info-button.jpg" >logo<img src=""></a>
      <a class="footer-a" href="https://www.thelokengroup.com/site/wp-content/uploads/2016/06/more-info-button.jpg" >logo<img src= ></a>
      <a class="footer-a" href="https://www.thelokengroup.com/site/wp-content/uploads/2016/06/more-info-button.jpg" >logo<img src= ></a>
      <a class="footer-a" href="https://www.thelokengroup.com/site/wp-content/uploads/2016/06/more-info-button.jpg" >logo<img src= ></a>
    </div>
  </footer>
</html>
