<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Karla|Varela+Round" rel="stylesheet">
    <title>Stack Tracker</title>
  </head>
  <body>
    <nav class="navbar">
      <table class="layout-table">
        <tr>
          <td><a class="navbar-buttons" href="/">Home</a></td>
          <td><a class="navbar-buttons" href="/transactions">Transactions</a></td>
          <td><a class="navbar-buttons" href="/merchants">Merchants</a></td>
          <td><a class="navbar-buttons" href="/tags">Tags</a></td>
        </tr>
      </table>
    </nav>
    <section id="content">
      <%= yield %>
    </section>
  </body>
  <footer>
  </footer>
</html>
