* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #99e3f3;
}

.image {
  height: auto;
  width: auto;
  max-width: 700px;
  max-height: 700px;
  margin-left: auto;
}

.header {
  background-color: #f9ba31;
  height: 100px;
}

.header-h1 {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  font-family: "Varela Round";
  font-size: 40px;
  color: #f7f9f2;
}

.header-h3 {
  display: flex;
  justify-content: center;
  font-family: "Varela Round";
  font-size: 25px;
  color: #59b059
}

.title {
  display: flex;
  justify-content: center;
  font-family: Karla;
  color: #f9ba31;
  font-size: 50px;
}

.navbar-buttons {
  color: #f7f9f2;
  font-size: 30px;
  padding: 0px 65px 0px 65px;
  font-family: "Varela Round"
}

.navbar {
  background-color: #59b059;
}

.layout-table {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 500px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: Karla;
}

.font-karla {
  font-family: Karla;
}

.div {

}

.h1 {
  color: #f9ba31;
  font-family: Karla;
}

.h2 {
  display: flex;
  justify-content: center;
  color: #f9ba31;
  font-family: Karla;
}

.span {
  font-size: 20px;
  color: #59b059;
  font-weight: bold;
}

.h3 {
  display: flex;
  justify-content: flex-start;
  color: #f9ba31;
  padding: 10px 0px 10px 0px;
  font-family: Karla;
}

.show-text {
  padding: 15px 0px 15px 0px;
}

/* table {
  display: flex;
  justify-content: center;
  align-content: center;
} */

.table {
  display: flex;
  justify-content: space-between;
  border: 3px solid #59b059;
  border-radius: 10px;
}

.table-align {
  justify-content: space-between;
  text-align: center;
}

.filter-table {
  display: flex;
  justify-content: space-between;
  padding: 0px 0 10px 0;
}

.td {
  border-radius: 5px;
  padding: 2.5px;
}

.th {
  padding: 2.5px;
  border-bottom: 1px solid #0e1111;
}

.new-form-div {
  display:flex;
  justify-content: center;
}

.link {
  font-family: Karla;
  color: #f7f9f2;
}

.button {
  font-family: Karla;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  background-color: #fed97d;
}

.filter-input {
  background-color: #fed97d;
}

.show-content {
}

#content {
  padding-left: 260px;
  padding-right: 260px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  height: 55px;
  background-color: #f9ba31;
}

.footer-p {
  display: flex;
  justify-content: center;
  font-family: Karla;
  font-size: 20px;
  padding-top: 10px;
  color: #f7f9f2;
}

.footer-links {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-top: 5px;
  font-family: Karla;
}
