body {
  background-color: pink;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.most_recent_p {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0px;
}

h1 {
  display: flex;
  justify-content: center;
}

.most_recent_table {
  display: flex;
  align-items: center;
  border: 5px solid black;
}

.index_table {
  display: flex;
  align-items: center;
  border: 5px solid black;
}

.tr_layout {
  display: flex;
  justify-content: space-around;
}

#content {
  padding-left: 200px;
  padding-right: 200px;
}
