* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #99e3f3;
}

.image {
  display: flex;
  justify-content: center;
}

.header {
  background-color: #f9ba31;
  height: 100px;
}

.header-h1 {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  font-family: "Varela Round";
  font-size: 40px;
  color: #f7f9f2;
}

.header-h3 {
  display: flex;
  justify-content: center;
  font-family: "Varela Round";
  font-size: 25px;
  color: #59b059;
}

.h3-no-such {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Varela Round";
  font-size: 25px;
  color: #59b059;
}

.title {
  display: flex;
  justify-content: center;
  font-family: Karla;
  color: #f9ba31;
  font-size: 50px;
}

.navbar-buttons {
  color: #f7f9f2;
  font-size: 30px;
  padding: 0px 65px 0px 65px;
  font-family: "Varela Round"
}

.navbar {
  background-color: #59b059;
}

.layout-table {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 500px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: Karla;
}

.font-karla {
  font-family: Karla;
}

.h1 {
  color: #f9ba31;
  font-family: Karla;
}

.h2 {
  display: flex;
  justify-content: center;
  color: #f9ba31;
  font-family: Karla;
}

.span {
  font-size: 30px;
  color: #59b059;
  font-weight: bold;
}

.h3 {
  display: flex;
  justify-content: flex-start;
  color: #f9ba31;
  padding: 10px 0px 10px 0px;
  font-family: Karla;
  font-size: 20px;
}

.show-text {
  padding: 15px 0px 15px 0px;
}

.back {
  display: flex;
  justify-content: center;
  color: #f9ba31;
  padding: 10px 0px 10px 0px;
  font-family: Karla;
}

.table {
  width: 100%;
  height: 100%;
}

.td {
  font-family: Karla;
}

.th {
  font-family: Karla;
  text-align: left;
}

.new-form-div {
  display:flex;
  justify-content: center;
}

.new {
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: Karla;
  border: 2px solid white;
  border-radius: 20px;
  padding-top: 2.5px;
  padding-bottom: 5px;
  background-color: #f9ba31;
  color: #59b059;
}

.new-div {
  margin-top: 20px;
}

.link {
  font-family: Karla;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px 0px 5px 0px;
  padding: 3px;
  background-color: #fed97d;
}

.button {
  font-family: Karla;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 3px;
  margin: 5px 0px 5px 0px;
  background-color: #fed97d;
}

.filter-input {
  background-color: #fed97d;
  width: 170px;
  height: 23px;
  border-radius: 2.5px;
}

#content {
  padding-left: 200px;
  padding-right: 200px;
  cursor: url(https://t2.rbxcdn.com/ec96770d07fba260fe11dc4c227f09da);
}
