<br>
<div class="">
  <h1 class="h1">Your tags</h1>

  <ul>
    <% tag_num = 1 %>
    <% for tag in @tags %>
      <p class="font-karla">Tag <%= tag_num %>: <%= tag.category.upcase %></p>
      <p class="tag-details-button">
        <a class="link" class="font-karla" href="/tags/show">Show tag details</a>
      </p>
      <p class="tag-update-button">
        <a class="link" class="font-karla" href="/tags/<%= tag.id %>/update">Update tag</a>
      </p>
        <form action="/tags/<%= tag.id %>/delete" method="POST">
          <input class="button" class="font-karla" type="submit" value="Delete tag" />
        </form>
      <% tag_num += 1 %>
    <%end%>
  </ul>

  <p>
    <a class="link" class="font-karla" class="btn btn--action" href="/tags/new">New Tag</a>
  </p>

</div>
