<h1 class="h1">New Tag</h1>

<div class="new-form-div">
  <form action="/tags" method="post">

    <label class="font-karla">
      Input charge:
        <input type="text" placeholder="Tag Category" name="category" required>
    </label>

    <br>

    <input class="font-karla" type='submit' value="Add Tag">
  </form>
</div>
