<h1>New Tag</h1>

<form action="/tags" method="post">

  <label>
    Input charge:
      <input type="text" placeholder="Tag Category" name="category" required>
  </label>

  <br>

  <input class="btn btn--action" type='submit' value="Add Tag">
</form>
