<div class="show-content">
  <%@tags.each do |tag|%>
    <h1 class="h1"><%=tag.category%></h1>
    <p class="font-karla" >total number of transactions from this tag</p>
    <p class="font-karla" >total money spent on this tag</p>
  <%end%>
</div>
