<h2>Update tag</h2>
  <form action="/tags/<%= @tag.id %>" method="post">
    <div class="form-wrapper">

      <div class="form-el">
        <label for="category">New category:</label>
        <input type="text" name="category" id="category" value="<%= @tag.category %>">
      </div>
    <input class="btn btn--action" type='submit' value="Update tag">
    <div class="cancel-link">
      <a href="/tags">Cancel</a>
    </div>
    </div>
  </form>
