<h2 class="h2">Update tag</h2>
  <form action="/tags/<%= @tag.id %>" method="post">
    <div>
      <div>
        <label class="font-karla" for="category">New category:</label>
        <input class="font-karla" type="text" name="category" id="category" value="<%= @tag.category %>">
      </div>
      <input class="font-karla" type='submit' value="Update tag">
    <div class="cancel-link">
      <a class="font-karla" href="/tags">Cancel</a>
    </div>
    </div>
  </form>
