<h1>New Transaction</h1>

<form action="/transactions" method="post">
  <label>
    Select a merchant:
      <select name="merchant_id">
        <% for merchant in @merchants %>
          <option value="<%= merchant.id %>"><%= merchant.name %></option>
        <%end%>
      </select>
  </label>
  <br>
  <label>
    Select a tag:
      <select name="tag_id">
        <% for tag in @tags %>
          <option value="<%= tag.id %>"><%= tag.category %></option>
        <%end%>
      </select>
  </label>
  <br>
  <input class="btn btn--action" type='submit' value="Add Transaction">
</form>
