<h1 class="h1">New Transaction</h1>

<form action="/transactions" method="post">

  <label class="font-karla" >
    Select a merchant:
    <select name="merchant_id">
      <% for merchant in @merchants %>
        <option class="font-karla" value="<%= merchant.id %>"><%= merchant.name %></option>
      <%end%>
    </select>
  </label>

  <br>

  <label class="font-karla" >
    Select a tag:
      <select name="tag_id">
        <% for tag in @tags %>
          <option value="<%= tag.id %>"><%= tag.category %></option>
        <%end%>
      </select>
  </label>

  <br>

  <label class="font-karla" >
    Input charge:
      <input type="number" placeholder="£0.00" name="charge" required>
  </label>

  <br>

  <input class="font-karla" class="btn btn--action" type='submit' value="Add Transaction">
</form>
